.container {
  width: 92%;
  margin: 8px 0;
}

.input input {
  width: 100%;
  padding: 8px;
  border: 2px solid var(--primary);
  background: rgba(245, 245, 245, 0.4);
  border-radius: 20px;
  color: var(--primary);
  font-size: 1rem;
}

.input input:focus-visible {
  outline: 2px solid var(--third-primary);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
}

.tag {
  background-color: var(--third-primary);
  color: var(--primary);
  padding: 0 16px;
  height: 40px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 1rem;
  font-weight: 650;
  overflow: hidden;
}

.removebtn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: var(--primary);
  font-weight: 800;
  transition: all 0.2s ease;
}
.removebtn:hover {
  background-color: var(--primary);
  color: var(--third-primary);
}

.error {
  color: #f44336;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  text-align: left;
  display: block;
}

@media (max-width: 550px) {
  .container {
    width: 100%;
  }
}
